body {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

p {
  padding-bottom: 10px;
  font-size: 12pt;
}

#mouse_type {
  font-size: 9pt;
}

#left_arrow {
  float: left;
}
#right_arrow {
  float: right;
}

div.page_nav:hover {
  opacity: 1.0;
}

div.page_nav {
  opacity: 0.5;
  cursor: pointer;
  height: 70vh;
  padding: 0.5em;
  font-size: 48pt;
  font-weight: bold;
  line-height: 70vh;
  vertical-align: middle;
  text-shadow: 3px 3px black;
}

#photo_image {
  float: center;
  min-width: 100px;
  height: 80vh;
  background-size: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
