body {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#photo_title {
  font-size: 36pt;
}

#copyright {
  font-size: 9pt;
}

#left_arrow {
  float: left;
}
#right_arrow {
  float: right;
}

.thumbnail {
  opacity: 0.5;
  margin-left: 6px;
  margin-right: 6px;
  border: 2px solid gray;
}

.thumbnail:hover {
  opacity: 1.0;
}

.selected {
  opacity: 1.0;
  border: 2px solid white;
}

div.photo_nav {
  height: 80px;
}

div.page_nav:hover {
  opacity: 1.0;
}

div.page_nav {
  opacity: 0.5;
  cursor: pointer;
  height: 70vh;
  padding: 0.5em;
  font-size: 48pt;
  font-weight: bold;
  line-height: 70vh;
  vertical-align: middle;
  text-shadow: 3px 3px black;
}

#photo_image {
  float: center;
  min-width: 100px;
  height: 75vh;
  background-size: 110vh;
  background-position: center;
  background-repeat: no-repeat;
}
